body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f0e6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 70px;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px; 
  margin-top: -50px; 
  text-align: center; 
}


.text-section h1 {
  color: #8d5144;
  font-size: 100px;
  margin-bottom: 100px; 
}

.text-section .btns {
  display: flex;
  gap: 40px;
}

.text-section .btns button {
  color: #fefefe;
  font-size: 24px;
  padding: 13px 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #8d5144;
}

.text-section .btns button:hover {
  background-color: #57362f;
  color: #fff;
}

.image-section {
  width: 50%;
  margin-top: -200px;
}

.image-section img {
  width: 70%;
  height: 50%;
}


