* {
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f0e6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 1000px;
  height: 500px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(60, 42, 33, 0.2);
  /* border: 2px solid #c7a27c;
  border-radius: 10px; */
  margin: auto;
}
.container h2 {
  font-size: 40px;

  color: red;
}
.container p {
  font-size: 20px;
}

.container .score-circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#00bcd4 0% 0%, #e0e0e0 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 1s ease;
}

.container .score-circle::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
}

.container .score {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: #00bcd4;
}

.container img {
  position: absolute;
  right: 50px;
  bottom: 60px;
  width: 180px;
}
